@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Space+Mono:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-family: "Lexend Deca", sans-serif;
  line-height: 25px;
  font-weight: 400;
  color: #939caa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  color: #495567;
}

svg text {
  text-anchor: middle;
  dominant-baseline: middle;
}
